/********************* MOBILE *******************/
.banner {
  align-items: center;
  display: flex;
  height: 270px;
  justify-content: center;
  margin-top: 131px;
  position: relative;
}

.banner__img {
  background: url("../img/index-banner-verao.jpg") center/cover no-repeat;
  height: 100%;
  mix-blend-mode: multiply;
  opacity: 0.4;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.dark-mode .banner__img {
  mix-blend-mode: normal;
}

.dark-mode .index .banner__img {
  background-image: url("../img/index-banner-boreal.jpg");
  mix-blend-mode: unset;
  opacity: 1;
}

.banner__titulo {
  width: 90%;
}

/********************* TABLET  *******************/
@media (min-width: 768px) {
  .banner {
    height: 384px;
    margin-top: 203px;
  }

  .banner__titulo {
    font-size: 64px;
    line-height: 83px;
  }
}

/********************* DESKTOP *******************/
@media (min-width: 1440px) {
  .banner {
    height: 407px;
    margin-top: 131px;
  }
}