/********************* MOBILE *******************/
.card,
.card__conteudo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  padding: 2rem 1.5rem;
}

.card__img {
  background: url(../img/index-img01.jpg) center/cover no-repeat;
  border-radius: 1rem;
  height: 381px;
}

.card__conteudo {
  align-items: center;
}

/********************* TABLET  *******************/
@media (min-width: 768px) {
  .card {
    align-items: center;
    padding: 2rem 3.75rem;
  }

  .card__img {
    width: 609px;
  }
}

/********************* DESKTOP *******************/
@media (min-width: 1440px) {
  .card {
    align-items: center;
    display: grid;
    gap: 3rem;
    grid-template-columns: auto 1fr;
    margin: 0 auto;
    padding: 2rem 0;
    width: 1200px;
  }
}