/********************* MOBILE *******************/
.banner__ingresso-comprado__img {
  background-image: url(../img/ingresso-comprado-banner.jpg);
}

.ingresso-comprado__conteudo,
.ingresso-comprado__card,
.card__conteudo {
  display: grid;
  gap: 2rem;
}

.ingresso-comprado__conteudo {
  margin: 0 auto;
  max-width: 792px;
  padding: 4rem 1.5rem;
}

.ingresso-comprado__card {
  background: var(--gradiente-verao);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  padding: 2rem;
}

.card__cabecalho,
.card__conteudo {
  display: flex;
}

.card__cabecalho {
  height: 32px;
  justify-content: space-between;
}

.card__conteudo {
  flex-direction: column;
  width: 100%;
}

.qr-code {
  margin: 0 auto;
  max-width: 320px;
}

.conteudo__dados-compra {
  display: grid;
}

.conteudo__dados-compra .h6 {
  margin-bottom: 1rem;
}

/********************* TABLET  *******************/
@media (min-width: 768px) {
  .ingresso-comprado__conteudo {
    padding: 4rem 3.75rem;
  }
}

/********************* DESKTOP *******************/
@media (min-width: 1440px) {
  .ingresso-comprado__conteudo {
    padding: 4rem 0;
    width: 792px;
  }

  .ingresso-comprado .card__conteudo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
  }

  .qr-code {
    margin: 0;
  }

  .ingresso-comprado .card__conteudo .h6 {
    margin-bottom: 1.5rem;
  }
}