/* TABLET */
@media (min-width: 768px) {
  /* CABEÇALHO */
  .cabecalho {
    padding: 2rem 3.75rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
  }

  .nav__icone-menu,
  .nav__barra {
    display: none;
  }

  .nav__lista {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .nav__item {
    width: auto;
  }



  /* BANNER */
  .banner {
    height: 384px;
  }

  .banner__titulo {
    font-size: 64px;
    line-height: 83px;
  }



  /* DATAS */
  .card {
    padding: 2rem 3.75rem;
    align-items: center;
  }

  .card__img {
    width: 609px;
  }



  /* ATRAÇÕES */
  .atracoes__titulo {
    font-size: 64px;
    line-height: 83px;
  }

  .atracoes__card__titulo {
    padding: 0 2.75rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    gap: 2rem;
    width: 100%;
  }

  .atracoes__card__barra {
    border-bottom: 1px solid var(--mostarda);
    display: inline-block;
    width: 100%;
  }

  .atracoes__destaque {
    font-size: 48px;
    line-height: 62px;
  }

  .atracoes__card__bandas {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }



  /* RODAPÉ */
  .rodape__redes{
    gap: 1.75rem;
  }

  .redes-sociais {
    flex-direction: row;
  }



  /* SETORES */
  .mapa-setores__img {
    width: 600px;
    height: 600px;
  }

  .setores .card__img {
    height: 239px;
    width: 382px;
  }
}




/* DESKTOP */
@media (min-width: 1440px) {
  /* CABEÇALHO */
  .cabecalho {
    padding: 2rem 7.5rem;
    flex-direction: row;
  }

  .nav__lista {
    gap: 2rem;
    justify-content: flex-end;
  }



  /* BANNER */
  .banner {
    height: 407px;
  }



  /* DATAS */
  .card {
    padding: 2rem 7.5rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 3rem;
  }

  .experiencia .card:nth-child(2n) .card__img {
    grid-column: 2/3;
  }

  .experiencia .card:nth-child(2n) .card__conteudo {
    grid-row: 1/2;
  }



  /* ATRAÇÕES */
  .atracoes__card__destaque-alto,
  .atracoes__card__destaque-medio,
  .atracoes__card__destaque-baixo {
    flex-direction: row;
  }



  /* RODAPÉ */
  .rodape__conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.75rem 7.5rem;
  }

  .rodape__redes {
    gap: 0.5rem;
    align-items: flex-start;
    margin: 0;
  }

  .copyright {
    width: 330px;
    text-align: left;
  }



  /* SETORES */
  .mapa-setores {
    flex-direction: row;
    gap: 5rem;
    padding-top: 3rem;
    margin: 0;
  }

  .setores .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 1.5rem;
    padding: 2rem 7.5rem;
  }

  .setores .cards .h6 {
    grid-column: 1/4;
  }

  .setores .card {
    display: flex;
    gap: 0;
    padding: 0;
  }

  .setores .card:nth-child(3) {
    padding-top: 7rem;
  }
}