/********************* MOBILE *******************/
.rodape {
  background-color: var(--amarelo);
}

.rodape__img {
  background: url(../img/index-img02.jpg) center/cover no-repeat;
  height: 338px;
  mix-blend-mode: multiply;
}

.rodape__conteudo {
  padding: 1.5rem;
}

.rodape__redes,
.redes-sociais {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.rodape__redes {
  margin-bottom: 2rem;
}

.rodape__logo {
  height: 4rem;
}

.redes-sociais {
  align-items: center;
  justify-content: center;
}

/********************* TABLET  *******************/
@media (min-width: 768px) {
  .rodape__redes{
    gap: 1.75rem;
  }

  .redes-sociais {
    flex-direction: row;
  }
}

/********************* DESKTOP *******************/
@media (min-width: 1440px) {
  .rodape__conteudo {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 3.75rem 7.5rem;
  }

  .rodape__redes {
    align-items: flex-start;
    gap: 0.5rem;
    margin: 0;
  }

  .redes-sociais,
  .copyright {
    text-align: left;
  }
  .copyright {
    width: 330px;
  }
}