:root {
  --gradiente-verao: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
  --gradiente-boreal: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);
  --gradiente-roxo-profundo: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0E0E3C;

  --amarelo: #FACF9D;
  --azul-claro: #C8DEEF;
  --azul-escuro: #2E7BA2;
  --mostarda: #DF9010;
  --branco: #FFFFFF;
  --preto: #000000;
  --cinza: #444444;
  --cinza-boreal: #304968;
  --verde-boreal: #36C1A0;
  --roxo-boreal: #4650BD;
  --verde-escuro: #008364;

  --fonte-awesome: 'FontAwesome';
  --fonte-google-icons: 'Material Symbols Outlined';
  --fonte-principal: 'Raleway', sans-serif;
  --fonte-secundaria: 'Calistoga', sans-serif;
}

* {
  box-sizing: border-box;
}

*::after,
*::before {
  font-family: var(--fonte-awesome);
}


/* PRÉ CONFIGURAÇÕES */
body {
  font-weight: 400;
  color: var(--cinza);
  font-family: var(--fonte-principal);
  text-align: center;
  background: var(--gradiente-verao);
  position: relative;
}

.hidden {
  display: none;
}

.h1,
.h3,
.h7 {
  font-family: var(--fonte-secundaria);
}

.h1 {
  font-size: 64px;
  line-height: 83px;
}

.h2 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

.h3 {
  font-size: 48px;
  line-height: 62px;
}

.h4 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
}

.h5 {
  font-size: 40px;
  line-height: 47px;
  font-weight: 700;
}

.h6 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
}

.h7 {
  font-size: 32px;
  line-height: 42px;
}

.p {
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
}

.p-bold,
.btn {
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 0px var(--preto);
  color: var(--branco);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn__verao {
  background-color: var(--azul-escuro);
}

.btn__verao:hover {
  background-color: #519EC5;
}

.btn__boreal {
  background-color: var(--roxo-boreal);
}

.btn__boreal {
  background-color: #606ADA;
}

.btn__icone {
  font-size: 2rem;
  line-height: 2.5rem;
}

.destaque {
  padding: 1rem;
  display: inline-block;
  text-transform: uppercase;
  color: var(--branco);
}

.destaque__verao {
  background-color: var(--mostarda);
}

.destaque__boreal {
  background-color: var(--verde-escuro);
}


/* CABEÇALHO */
.cabecalho {
  background-color: var(--azul-escuro);
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.cabecalho__nav {
  color: var(--branco);
  position: relative;
  width: 100%;
  text-align: right;
}

.nav__icone-menu::before {
  font-size: 2rem;
  font-weight: 400;
}

.nav__lista {
  background-color: var(--azul-escuro);
  padding: 1rem;
  z-index: 1;
}

.nav__lista--ativo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: calc(100% + 3rem);
  right: -1.5rem;
}

.nav__item {
  width: 170px;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: column;
}

.nav__barra {
  border-bottom: 1px solid var(--branco);
  width: 146px;
}



/* BANNER */
.conteudo {
  padding-top: 131px;
}

.banner {
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner__img {
  width: 100%;
  height: 100%;
  background-image: url("../img/index-banner-verao.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  opacity: 0.4;
  mix-blend-mode: multiply;
}

.banner__titulo {
  width: 90%;
}



/* DATAS */
.card {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card__img {
  height: 381px;
  border-radius: 1rem;
  background-image: url(../img/index-img01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card__conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}



/* ATRAÇÕES */
.atracoes,
.atracoes__card,
.atracoes__card__destaque-alto,
.atracoes__card__destaque-medio,
.atracoes__card__destaque-baixo,
.atracoes__card__bandas {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.atracoes {
  padding: 0 1.5rem;
  gap: 0;
}

.atracoes__titulo {
  padding: 2rem 0;
}

.atracoes__card {
  align-items: center;
  padding: 3rem 0;
}

.atracoes__destaque {
  margin-bottom: 1rem;
}

.atracoes__card__bandas {
  gap: 1rem;
}



/* RODAPÉ */
.rodape {
  background-color: var(--amarelo);
}

.rodape__img {
  background-image: url(../img/index-img02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 338px;
  mix-blend-mode: multiply;
}

.rodape__conteudo {
  padding: 1.5rem;
}

.rodape__redes {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 0.5rem;
}

.rodape__logo {
  height: 4rem;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}





/* A EXPERIÊNCIA */
.banner__experiencia__img {
  background-image: url(../img/experiencia-banner.jpg);
  background-position: top;
}

.experiencia__img-01 {
  background-image: url(../img/experiencia-img01.jpg);
}

.experiencia__img-02 {
  background-image: url(../img/experiencia-img02.jpg);
}

.experiencia__img-03 {
  background-image: url(../img/experiencia-img03.jpg);
}



/* SETORES */
.banner__setores__img {
  background-image: url(../img/setores-banner.jpg);
  background-position: bottom;
}

.mapa-setores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapa-setores__img {
  width: 340px;
  margin: 1.5rem 0;
}

.mapa-setores__lista {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: left;
  width: 246px;
  margin: 0 auto;
}

.mapa-setores__item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.bg-legenda {
  width: 2rem;
  height: 2rem;
}

.mapa-setores__item:nth-child(2) .bg-legenda {
  background-color: #0E7DF1;
}

.mapa-setores__item:nth-child(3) .bg-legenda {
  background-color: #FE016E;
}

.mapa-setores__item:nth-child(4) .bg-legenda {
  background-color: #01A89E;
}

.mapa-setores__item:nth-child(5) .bg-legenda {
  background-color: #3F51B5;
}

.mapa-setores__item:nth-child(6) .bg-legenda {
  background-color: #0E7DF1;
}

.cards .h6 {
  padding: 2rem 1.5rem 0;
}

.setores__img-01 {
  background-image: url(../img/setores-img01.jpg);
}

.setores__img-02 {
  background-image: url(../img/setores-img02.jpg);
}

.setores__img-03 {
  background-image: url(../img/setores-img03.jpg);
}




/* INFORMAÇÕES */
.banner__info__img {
  background-image: url(../img/informacoes-banner.jpg);
}

.perguntas-frequentes {
  padding: 3rem 1.5rem;
}

.perguntas__cards {
  margin-top: 3rem;
  display: grid;
  gap: 0.5rem;
  text-align: left;
}

.pergunta__card__titulo {
  color: var(--branco);
  padding: 1rem;
  background-color: var(--azul-escuro);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pergunta__card__resposta {
  padding: 1rem;
  background-color: var(--azul-claro);
  margin-bottom: 1rem;
}

.resposta__link {
  text-decoration: underline;
}




/* INGRESSO */
.banner__ingresso__img {
  background-image: url(../img/ingresso-banner.jpg);
}

.ingresso__conteudo {
  padding: 2rem 1.5rem;
  display: grid;
  gap: 3rem;
}

.ingresso__form {
  display: grid;
  gap: 2rem;
}

.ingresso__form label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}

.ingresso__form input,
.ingresso__form select {
  height: 3.5rem;
  padding: 0.625rem;
  width: 100%;
}

.btn__ingresso {
  align-self: center;
  justify-self: center;
}

.btn__ingresso::after {
  content: '\f061';
}



/* INGRESSO COMPRADO */
.banner__ingresso-comprado__img {
  background-image: url(../img/ingresso-comprado-banner.jpg);
}

.ingresso-comprado__conteudo {
  padding: 4rem 1.5rem;
  display: grid;
  gap: 2rem;
  max-width: 792px;
  margin: 0 auto;
}

.ingresso-comprado__card {
  background: var(--gradiente-verao);
  display: grid;
  gap: 2rem;
  padding: 2rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.card__cabecalho {
  display: flex;
  justify-content: space-between;
  height: 32px;
}

.card__conteudo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.qr-code {
  max-width: 320px;
  margin: 0 auto;
}

.conteudo__dados-compra {
  display: grid;
}

.conteudo__dados-compra .h6 {
  margin-bottom: 1rem;
}