:root {
  --gradiente-verao: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
  --gradiente-boreal: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%);
  --gradiente-roxo-profundo: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0E0E3C;

  --amarelo: #FACF9D;
  --azul-claro: #C8DEEF;
  --azul-escuro: #2E7BA2;
  --mostarda: #DF9010;
  --branco: #FFFFFF;
  --preto: #000000;
  --cinza: #444444;
  --cinza-boreal: #304968;
  --verde-boreal: #36C1A0;
  --roxo-boreal: #4650BD;
  --verde-escuro: #008364;

  --fonte-awesome: 'FontAwesome';
  --fonte-google-icons: 'Material Symbols Outlined';
  --fonte-principal: 'Raleway', sans-serif;
  --fonte-secundaria: 'Calistoga', sans-serif;
}

* {
  box-sizing: border-box;
}

*::after,
*::before {
  font-family: var(--fonte-awesome);
}


/* PRÉ CONFIGURAÇÕES */
body {
  font-weight: 400;
  color: var(--cinza);
  font-family: var(--fonte-principal);
  text-align: center;
  background: var(--gradiente-verao);
  position: relative;
}

.hidden {
  display: none;
}

.h1,
.h3,
.h7 {
  font-family: var(--fonte-secundaria);
}

.h1 {
  font-size: 64px;
  line-height: 83px;
}

.h2 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

.h3 {
  font-size: 48px;
  line-height: 62px;
}

.h4 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
}

.h5 {
  font-size: 40px;
  line-height: 47px;
  font-weight: 700;
}

.h6 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
}

.h7 {
  font-size: 32px;
  line-height: 42px;
}

.p {
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
}

.p-bold,
.btn {
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 0px var(--preto);
  color: var(--branco);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn__verao {
  background-color: var(--azul-escuro);
}

.btn__verao:hover {
  background-color: #519EC5;
}

.btn__boreal {
  background-color: var(--roxo-boreal);
}

.btn__boreal {
  background-color: #606ADA;
}

.btn__icone {
  font-size: 2rem;
  line-height: 2.5rem;
}

.destaque {
  padding: 1rem;
  display: inline-block;
  text-transform: uppercase;
  color: var(--branco);
}

.destaque__verao {
  background-color: var(--mostarda);
}

.destaque__boreal {
  background-color: var(--verde-escuro);
}

.conteudo {
  padding-top: 131px;
}

/* TABLET */
@media (min-width: 768px) {
  .conteudo {
    padding-top: 203px;
  }
}

/* DESKTOP */
@media (min-width: 1440px) {
  .conteudo {
    padding-top: 131px;
  }
}